* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
 
}

body{
  margin: 0;
  padding: 0;

}

h2{
  line-height: 1.8;
}

h3{
  line-height: 1.8;
}

a{
  line-height: 1.8;
}

#form{
  height: 100%;

}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  margin-bottom: 0px;
}

.brand-title a {
  font-size: 2rem;
  margin: .5rem;
  color: white;
  text-decoration: none;
}

.brand-title a:hover {
  background-color: grey;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
  align-items: right;
}

.navbar-links li:hover {
  background-color: grey;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#button{
color: blue;
}

#certs{
  margin-top: 10px;
}

/* ---- Start media query ---- */

@media only screen and (max-width: 600px){
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none; 
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    text-align: center;
   
  
  }

  .nabar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 1rem 1rem;
  }

  .navbar-links.active{
    display: flex;
  }
}
/* ---- End media query ---- */
.jumbotron {
    position: relative;
    background: #000 url("https://s3-us-west-2.amazonaws.com/hypebeast-wordpress/image/2014/11/kyoto-guide-to-wabi-sabi-9.jpg");
    width: auto;
    height: 810px;
    background-size: cover;
    color: white;
    margin-top: 0;
    padding-top: 200px; 
    margin-bottom: 0px;
  
      
}

#headline{
     text-align: center;
    font: Helvetica; 
    text-shadow: 5px 2px #1a1919;
}

#tagline{
text-align: center;
font: Helvetica; 
text-shadow: 5px 2px #1a1919;
}

#welcome {
    text-align: center;
    font: Helvetica; 
    background-color: #6c5b43; 
   
}

#portfolio {
  text-align: center;
 
}

#about{
  text-align: center;
 
}

#about-text {
  margin: auto;
  padding-top: 20px;
  padding-bottom: 20px;

}



.social {
   margin: auto;
   width: 50%;
   padding: 10px 10px;
}

.websites{
  margin: auto;
  width: 50%;
  list-style: none;
  padding: 50px;
}

.shaka{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
    
  
}

#services{
  
  padding-bottom: 50px;
}

#footer-menu{
  margin: auto;
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: space-around;
  margin-left: auto;
  margin-right: auto;

}

#footer-menu li{
  margin: auto;
  padding-bottom: 30px;
}

/* ---- Blog Page ---- */

.blog-description p{
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
}

/* ---- End Blog Page ---- */
/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* ---- particles.js container ---- */

