/* ---- Blog Page ---- */

.blog{
  font-family: 'Montserrat', sans-serif;
  padding: 1rem;
  display: block;
 
}

/* ---- End Blog Page ---- */

.hero-CTA{
color: red;
text-decoration: none;
font-size: 2rem;
margin: .5rem;
text-align: center;

}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
 
}

body{
  margin: 0;
  padding: 0;

}

h2{
  line-height: 1.8;
}

h3{
  line-height: 1.8;
}

a{
  line-height: 1.8;
}

#form{
  height: 100%;

}

#contact{
text-align: center;
font-family: 'Montserrat', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  margin-bottom: 0px;
}

.brand-title a {
  font-size: 2rem;
  margin: .5rem;
  color: white;
  text-decoration: none;
}

.brand-title a:hover {
  background-color: grey;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li{
  list-style: none;
}

.navbar-links li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
  display: block;
  font-size: 1.5rem;
  align-items: right;
}

.navbar-links li:hover {
  background-color: grey;
}

.toggle-button{
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

#button{
color: blue;
}

#certs{
  margin-top: 10px;
  text-align: center;
}

/* ---- Start media query ---- */

@media only screen and (max-width: 600px){
  .toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none; 
    width: 100%;
  }

  .navbar{
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
    text-align: center;
   
  
  }

  .nabar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: 1rem 1rem;
  }

  .navbar-links.active{
    display: flex;
  }
}
/* ---- End media query ---- */
.jumbotron {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0)) url("https://images.unsplash.com/photo-1433086966358-54859d0ed716?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2787&q=80");
    width: auto;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 0px;
  
      
}

#headline{
     text-align: center;
    font: Montserrat; 
    text-color: white;
    
}

#tagline{
text-align: center;
font: Montserrat; 
text-color: white;

}

.welcome {
    text-align: center;
    font: Montserrat; 
    text-decoration: none;
    text-color: white;
   
}


#portfolio {
  text-align: center;
 
}

.bigP{
 font-size: 20px;
 font: Montserrat; 
}

.about{
  text-align: center;
 
}

#about-text {
  margin: auto;
  padding: 40px;
  font: Montserrat; 
}



.social {
   margin: auto;
   width: 50%;
   padding: 10px 10px;
}

.websites{
  margin: auto;
  width: 50%;
  list-style: none;
  padding: 50px;
}

.shaka{
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
    
  
}

#services{
  text-align: center;
  padding-bottom: 50px;
}

#footer-menu{
  margin: auto;
  width: 50%;
  list-style-type: none;
  display: flex;
  align-items: space-around;
  margin-left: auto;
  margin-right: auto;
   font-size: 15px;
  

}

#footer-menu li{
  margin: auto;
  padding-bottom: 30px;
}

#iframe{
  width: 100%; 
  height: 500px; 
  frameborder: 0; 
  marginheight: 0;
  marginwidth: 0;
  text-align: center;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 80%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}
/* ---- particles.js container ---- */

